{
  "extends": "standard",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
      "semi": ["off"],
      "indent": ["error", 4],
      "no-trailing-spaces": ["off"],
      "space-before-function-paren": ["off"],
      "comma-dangle": ["off"],
  }
}
